@import "tailwindcss";


:root {
    --color-50: #EBF9F5;
    --color-100: #C8EEE2;
    --color-200: #A5E3CF;
    --color-300: #82D9BC;
    --color-400: #5FCEA9;
    --color-500: #3CC396;
    --color-600: #35AE85;
    --color-700: #267D60;
    --color-800: #1C5A45;
    --color-900: #11372A;
    --color-950: #06140F;

    --button-bg: #ebf9f500;
    /* Text */
    --text-primary: #7e928b;

    /*Gradient*/
    --hr-gradient: to right,
        transparent,
        var(--color-200),
        transparent;

    --shadow-card:
        0 8px 20px rgba(0, 0, 0, 0.08),
        0 4px 10px rgba(0, 0, 0, 0.05);


    /* Sizes */
    --p: .9rem;
    --h1: 2rem;
    --h2: 1.5rem;
}

body {
    background-color: var(--color-50);
    font-family: 'Times New Roman', Times, serif;
}

/* Aqui agregas estilo de componentes repetidos */
@layer components {
    .card {
        box-shadow: var(--shadow-card);
        padding: 12px;

        border-radius: 12px;
        background-color: white;
    }

    .aside__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px;
        gap: 14px;
    }

    .aside__links__active {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px;
        gap: 14px;

        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: var(--color-600);
        color: var(--color-50);
    }

    .target {
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}